{% extends 'base.html' %}
{% block main %}
<main>
    <section id="faq-list" class="py-5 bg-light">
        <div class="container">
            <div class="card 100-h shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title display-6 fw-bold p-4 text-center"><em>Frequently Asked Questions</em></h1>
                        <div class="col-auto">
                            <div class="card h-100 shadow-sm">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">1. How to Register in JobQueue</h5>
                                    <div class="col-auto">
                                        <div class="card h-100 shadow-sm">
                                            <div class="card-body d-flex flex-column">
                                                <div class="py-2"> <!-- Inner div for padding -->
                                                    <p class="mb-3">First, ensure you are logged into your JobQueue
                                                        account. Navigate to
                                                        the <a href="Jobs"
                                                            class="text-red">Jobs</a>
                                                        Page.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="card h-100 shadow-sm">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">1. How to Register in JobQueue</h5>
                                    <div class="col-auto">
                                        <div class="card h-100 shadow-sm">
                                            <div class="card-body d-flex flex-column">
                                                <div class="py-2"> <!-- Inner div for padding -->
                                                    <p class="mb-3">First, ensure you are logged into your JobQueue
                                                        account. Navigate to
                                                        the <a href="Jobs"
                                                            class="text-red">Jobs</a>
                                                        Page.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="card h-100 shadow-sm">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">1. How to Register in JobQueue</h5>
                                    <div class="col-auto">
                                        <div class="card h-100 shadow-sm">
                                            <div class="card-body d-flex flex-column">
                                                <div class="py-2"> <!-- Inner div for padding -->
                                                    <p class="mb-3">First, ensure you are logged into your JobQueue
                                                        account. Navigate to
                                                        the <a href="Jobs"
                                                            class="text-red">Jobs</a>
                                                        Page.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
    </section>
</main>
{% endblock main %}